{% embed "_components/section" with {
  self: self,
  options: {
    id: "#{ self.type|kebab }-#{ self.id }",
    spacingClasses: (self.marginBottom ??? false) ? [] : ["mb-0"],
  }
} only %}
  {% block content %}
    {% embed "_components/container" with {
      self: self
    } only %}
      {% block content %}
        <div class="bg-amber-100 p-4">
          <p>Unknown content builder block type:
            <code class="bg-amber-200">{{ self.type }}</code>
          </p>
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
